body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #040c0e;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #132227;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #525b56;
}


